.buffer {
  height: 1450px;
}

.top-padding {
  height: 70px;
}

.biggest-about {
   position: absolute;
   width: 900px;
   z-index: -20000;
}

.middle-about {
   width: 760px;
   z-index: -20000;
   position: absolute;
}

.smallest-about {
   width: 380px;
   z-index: -20000;
   position: absolute;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
   .biggest-about {
     display: none;
   }

   .middle-about {
     display: none;
   }

   .smallest-about {
     display: block;
   }
}

@media only screen and (min-width: 480px) and (max-width: 780px){
   .biggest-about {
     display: none;
   }

   .middle-about {
     display: block;
   }

   .smallest-about {
     display: none;
   }
}

@media only screen and (min-width: 780px){
   .biggest-about {
     display: block;
   }

   .middle-about {
     display: none;
   }

   .smallest-about {
     display: none;
   }

   .buffer {
     height: 1100px;
   }
}
