<img class="checkout-product-image" src={{product.imageLoc}}>
<div class="checkout-details">
  <div class="checkout-product-name">
    {{product.name}}
  </div>
  <div class="checkout-product-price">
    Price for each: ${{product.price}}
  </div>
  <div *ngIf="product.numberOrderedSmall>0" class="checkout-product-small">
    Number of small ordered: {{product.numberOrderedSmall}}
  </div>
  <div *ngIf="product.numberOrderedMedium>0" class="checkout-product-medium">
    Number of medium ordered: {{product.numberOrderedMedium}}
  </div>
  <div *ngIf="product.numberOrderedLarge>0" class="checkout-product-large">
    Number of large ordered: {{product.numberOrderedLarge}}
  </div>
  <div class="checkout-product-total-number">
    Total ordered: {{product.numberOrderedTotal}}
  </div>
  <div class="checkout-product-total-price">
    Total price: ${{product.numberOrderedTotal*product.price}}
  </div>
  <div class="delete-order-button" (click)="deleteOrderedElement(product)">X
  </div>
<div>
