<img class='header-title' src="public/images/headers/header-tag-checkout.png">
<h3>Checkout</h3>
<div class="grid2">

  <div *ngFor="let product of filteredProducts">

    <div *ngIf="product.numberOrderedTotal>0">
      <my-checkout-detail [product]="product" class="col-single">
      </my-checkout-detail>
    </div>

  </div>
  <div *ngIf="totalCost>0" class="col-total">
    <div class="total-cost">
      Total cost: ${{totalCost}}
    </div>
    <div class="cart-button" (click)="openCheckout(totalCost)">
      Cart Button
    </div>
  </div>
  <div *ngIf="totalCost===0" class="col-total">
    <div class="total-cost">
      Nothing in cart!
    </div>
  </div>
</div>
