<img class="checkout-product-image" src={{product.imageLoc}}>
<div class="checkout-details">
  <div class="checkout-product-name">
    {{product.name}}
  </div>
  <div class="checkout-product-price">
    Price for each: ${{product.price}}
  </div>
  <div *ngIf="product.numberOrderedSmall>0" class="checkout-product-small">
    Small: {{product.numberOrderedSmall}}
  </div>
  <div *ngIf="product.numberOrderedMedium>0" class="checkout-product-medium">
    Medium: {{product.numberOrderedMedium}}
  </div>
  <div *ngIf="product.numberOrderedLarge>0" class="checkout-product-large">
    Large: {{product.numberOrderedLarge}}
  </div>
  <div class="checkout-product-total-number">
    Total: {{product.numberOrderedTotal}}
  </div>
  <div class="checkout-product-total-price">
    Total price: ${{product.numberOrderedTotal*product.price}}
  </div>
<div>
