<form class="contact-form-area" (ngSubmit)="onSubmit(myContactFormGroup)" [formGroup]="myContactFormGroup">
  <!-- <img src="/public/images/contact-us-page-background-drips-no-border.png" border="0" class="contact-form-area-image"/> -->

  <input type="string" placeholder="Name" [formControl]="myContactFormGroup.controls['name']" id="contact-name" ngModel>

  <input type="email" placeholder="Email" [formControl]="myContactFormGroup.controls['email']" id="contact-email" ngModel>

  <textarea placeholder="Your message" [formControl]="myContactFormGroup.controls['message']" id="contact-message" ngModel></textarea>

  <input type="string" placeholder="Phone number" [formControl]="myContactFormGroup.controls['phoneNumber']" id="contact-number" ngModel>

  <button id="contact-button" type="submit">Send Message</button>

</form>
