[class*='col-'] {
  float: left;
}

.grid2 {
  position: absolute;
}

[class*='col-'] {
  padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

.col-left {
  width: 15%;
  background-color: lightgreen;
  margin-left: 8px;
  font-size: 10px;
}

.col-right {
  width: 80%;
  background-color: blue;
  padding: 5px;
  margin-left: 5px;
}

.col-total {
  width: 75%;
}

.checkout-product-image {
  width: 100%;
}

.form-space {
  height: 50px;
}

.dialog__close-btn {
  z-index: 50000;
  position: absolute;
}

#order-number {
  width: 32px;
}

#order-size {
  width: 32px;
}

.modal-heading {
  background-color: darkslategrey;
}

#modal-price {
  background-color: darkslategrey;
}

.modal-details {
  background-color: darkslategrey;
}

.modal-image {
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  .dialog {
    position: absolute;
    width: 90%;
    top: 11%;
    left: 4%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 600px){
  .dialog {
    width: 80%;
    top: 5%;
    left: 10%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 780px){
  .dialog {
    width: 65%;
    top: 5%;
    left: 20%;
  }
}

@media only screen and (min-width: 780px) and (max-width: 980px) {
   .dialog {
     width: 47%;
     top: 7%;
     left: 25%;
   }
}

@media only screen and (min-width: 980px) {
   .dialog {
     width: 38%;
     top: 7%;
     left: 32%;
   }
}

.dialog {
  text-align: center;
  font-size: 18px;
  /*overflow: auto;*/
  color: lightblue;
  z-index: 30000;
  background-color: darkslategrey;
  /*background-image: url();*/
  position: absolute;
  /*margin: auto;*/
  /*top: 7%;*/
  /*left: 22%;*/
  /*height: 65%;*/
  /*width: 45%;*/
  max-width: 600px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0px;
}

/*[class*='col-'] {
  padding-right: 20px;
  padding-bottom: 20px;
}*/
/*[class*='col-']:last-of-type {
  padding-right: 0;
}*/
/*.grid {
  margin: 0;
}*/

.col-1-4 {
  width: 17em;
  height: 20em;
  background-color: darkkhaki;
  padding: 0;
  margin: 0.65em;
}

.module {
  color: white;
  font-size: 2em;
  padding: 0px;
  text-align: center;
  /*font-size: 0.5rem;*/
  width: 100%;
  background-color: black;
  /*border-radius: 2px;*/
}

h4 {
  position: relative;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
}

.module:hover {
  background-color: #555;
  cursor: pointer;
  color: #607d8b;
}
/*.grid-pad {
  padding: 10px 0;
}*/
/*.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}*/
/*@media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
}
@media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
}*/
