<div class="modal-details">

  <form class="form-space" (ngSubmit)="onAddToCart(myOrderFormGroup, modalProduct.id)" [formGroup]="myOrderFormGroup">
    <div> I'd like to add
      <input type="number" value="0" min="0" [formControl]="myOrderFormGroup.controls['orderNumber']" id="order-number" ngModel>
     of size
    <select name="size" [formControl]="myOrderFormGroup.controls['orderSize']">
      <option *ngFor="let size of sizes" [value]="size.value">
      {{size.display}}
      </option>
    </select>
    <button id="contact-button" (click)="setCheckoutProducts()" type="submit">Add to cart!</button>
  </div>
  </form>

</div>
