<div [@dialog] *ngIf="isVisible" class="dialog">

  <div class="modal-image">
      <button *ngIf="closable" aria-label="Close" class="dialog__close-btn" (click)="modalShut()">X</button>
      <img src={{currentProduct.imageLoc}} class="modal-image">
  </div>

  <div class="modal-heading">Product: {{currentProduct.name}}
  </div>

  <div id="modal-price">Price: {{currentProduct.price}}</div>

  <my-modal-order-area [modalProduct]="currentProduct">
  </my-modal-order-area>

  <div *ngIf="visible" class="overlay" (click)="close()"></div>
</div>
