/* You can add global styles to this file, and also import other style files */
/* Master Styles */

.counter {
  float: right;
  padding-left: 7px;
  margin-top: 4px;
  color: red;
}

body {
  /*background-image: 'Final-header-contact.png';*/
  /*background-color: purple;*/
}

.product-image {
  width: 100%;
}

.header-title {
  position: absolute;
  width: 145px;
  margin-left: 0px;
}

/*router-outlet {
  position: relative;
  margin-top: 800px;
  padding-top: 400px;
  z-index: 0;
}*/

h1 {
  color: #369;
  font-family: Eras ITC, Eras Light ITC, Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  position: relative;
  text-align: center;
  font-size: 3em;
  color: darkslategrey;
  font-family: Eras ITC, Eras Light ITC, Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: #888;
  font-family: Eras ITC, Eras Light ITC, Cambria, Georgia;
}
/* . . . */
/* everywhere else */
* {
  font-family: "Eras ITC", "Eras Light ITC", Arial, Helvetica, sans-serif;
}

h4 {
  text-align: justify;
  width: 85%;
  font-size: 18px;
}

.product-name {
  position: relative;
  text-align: center;
}

.dashboard {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  /*width: 70em;*/
  /*background-color: red;*/
  margin: 0 auto;
  overflow: inherit;
  position: relative;
}

@media(max-width: 880px){
  .dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 47em;
    /*background-color: red;*/
    margin: 0 auto;
    overflow: inherit;
  }
}

@media(max-width: 37em){
  .dashboard {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 20em;
    /*background-color: red;*/
    margin: 0 auto;
    overflow: inherit;
  }
}
